#error-page {
  background-color: rgba(177, 220, 229, 255);
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: auto;
}

#error-puppy-img {
    width: 100vw;
    height: auto;
}

#resume-page {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: auto;
    /* place-items: justify; */
}

#name-category{
    display: flex;
    place-items: center;
    flex-direction: column;
}

#kolby-img {
    height: auto;
    width: 20vw;
}

#intro-info {
    display: inline-block;
    text-align: center;
}
